* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
}

.box1 {
    background-color: crimson;
    margin: 20px;
    padding: 8px;
    border-radius: 8px;
}