* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
}

.btn {
    background-color: crimson;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
}


.inputbox {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}