* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
    color: white;
}

.inputbox {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background-color: crimson;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    min-width: 60px;
    font-weight: bold;
    text-align: center;
}